.Login-Card {
  &-Heading {
    color: black;
    font-weight: bold;
  }
  &-Text {
    color: grey;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }

  &-LoginButton {
    background-color: #2eb845 !important;
    color: white !important;
    width: 350px;
    border-radius: 0;
    text-transform: none;
    font-size: 18px !important;
  }
}

@media screen and (max-width: 600px) {
  .Login-Card {
    min-width: 320px;
    &-LoginButton {
      width: 180px;
    }
  }
}
