.SuperParentComponent {
  width: 60vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Template-Active-Element {
  z-index: 2147483647;
  position: relative;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: "";
  transform: rotate(45deg);
  background: white;
}

.Button {
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;

  font-size: 0.875rem;
  box-sizing: border-box;
  background-color: #1976d2;
  color: #fff;
  box-shadow: -2px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 6px 26px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  -webkit-tap-highlight-color: transparent;

  &:active {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    transform: translateY(2px);
  }

  &-Size-Normal {
    font-size: 0.875rem;
  }

  &-Size-Large {
    font-size: 0.9375rem;
  }

  &-Size-Small {
    font-size: 0.8125rem;
  }

  &-Color-Blue {
    background-color: #1976d2;
  }
  &-Color-Red {
    background-color: #f44336;
  }
  &-Color-Green {
    background-color: #4caf50;
  }
  &-Color-Golden {
    background-color: #f0ad4e;
  }
  &-Color-Black {
    background-color: black;
  }
  &-Color-White {
    background-color: white;
  }

  &-TextColor-Black {
    color: #000000;
  }

  &-TextColor-White {
    color: #fff;
  }
}

.Header {
  display: flex;
  //min-width: 5px;
  width: 100%;
  margin: 3px;
  min-height: 5px;
  text-align: center;
  justify-content: center;
  cursor: auto;

  &:active {
    outline-style: dashed;
    outline-color: #e9a11b;
    outline-width: 2px;
  }

  &-Size-H1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.167;
    letter-spacing: -0.01562em;
  }

  &-Size-H2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1.2;
    letter-spacing: -0.00833em;
  }

  &-Size-H3 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.167;
    letter-spacing: 0em;
  }

  &-Size-H4 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
  }

  &-Size-H5 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
  }

  &-Size-H6 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em;
  }

  &-TextColor-Black {
    color: #000000;
  }

  &-TextColor-White {
    color: #fff;
  }
}

.Text {
  text-align: right;
  width: 100%;
  margin: 3px;
  min-height: 5px;
  cursor: auto;

  &-Size-Subtitle1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em;
  }

  &-Size-Subtitle2 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57;
    letter-spacing: 0.00714em;
  }

  &-TextColor-Black {
    color: #000000;
  }

  &-TextColor-White {
    color: #fff;
  }
  &-Align-Left {
    text-align: left;
  }
  &-Align-Right {
    text-align: right;
  }
  &-Align-Center {
    text-align: center;
  }
}

.Alignment {
  min-height: 5px;
  min-width: 1px;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  padding: 2px;
  display: flex;

  &-Direction-Row {
    flex-direction: row;
  }
  &-Direction-Column {
    flex-direction: column;
  }
  &-JustifyContent-SpaceBetween {
    justify-content: space-between;
  }

  &-JustifyContent-Center {
    justify-content: center;
  }

  &-JustifyContent-SpaceAround {
    justify-content: space-around;
  }
  &-JustifyContent-FlexStart {
    justify-content: flex-start;
  }

  &-JustifyContent-FlexEnd {
    justify-content: flex-end;
  }

  &-AlignItems-Center {
    align-items: center;
  }

  &-AlignItems-Stretch {
    align-items: stretch;
  }
  &-AlignItems-FlexStart {
    align-items: flex-start;
  }

  &-AlignItems-FlexEnd {
    align-items: flex-end;
  }
  &-AlignItems-SpaceBetween {
    align-items: space-between;
  }
}

.Image {
  margin-top: 0px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;

  &-Size {
    width: 100%;
    height: 200px;
  }

  &-ObjectFit-Fill {
    object-fit: fill;
  }
  &-ObjectFit-Contain {
    object-fit: contain;
  }
  &-ObjectFit-Cover {
    object-fit: cover;
  }
  &-ObjectFit-ScaleDown {
    object-fit: scale-down;
  }
}

.Card {
  min-height: 60px;
  min-width: 20px;
  max-height: 100%;
  max-width: 100%;
  padding: 0px;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-Color {
    background-color: white;
  }
}

.Video {
  width: 100%;
  height: 200px;
  position: relative;
  margin: 2px;
}

.Slideshow {
  &-Default {
    width: 100%;
    height: 200px;
    position: relative;
    margin: 2px;
  }

  &-Container-Prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    &:hover {
      background-color: grey;
      opacity: 0.5;
      color: white;
    }
  }

  &-Container-Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: 0;
    border-radius: 3px 0 0 3px;
    &:hover {
      background-color: grey;
      opacity: 0.5;
      color: white;
    }
  }

  &-Container-Image {
    display: none;
  }

  &-Container-Fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
