.SearchBar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  border-style: solid;
  border-color: #b2c1db;
  background-color: white;
  border-radius: 30px;
  width: 200px;
  padding: 10px;
  &:hover {
    width: 100%;
    transition: width 0.4s linear;
  }
}

.Search_Input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 200px;
  caret-color: transparent;
  line-height: 30px;
  transition: width 0.4s linear;
}

.SearchBar:hover > .Search_Input {
  padding: 0 10px;
  width: 100%;

  caret-color: black;
  transition: width 0.4s linear;
}

.SearchBar:hover > .Search_Icon {
  background: white;
  color: #47679e;
}

.Search_Icon {
  height: 30px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.CreateProject-Button-Wrapper {
  float: right;
  margin-bottom: 30px;
}

.CreateProject-Button {
  font-weight: bold !important;
}

.Card {
  &-ButtonBase {
    width: 90%;
    height: 100%;
  }

  &-Heading {
    font-weight: bold !important;
  }

  &-Text {
    font-weight: bold;
    color: grey;
  }

  &-Divider {
    margin-left: 20% !important;
    width: 60% !important;
  }

  &-DeleteIcon {
    color: #ff5e5e;
    transform: scale(1.3);
    &:hover {
      cursor: pointer;
      background-color: lightgrey;
      border-radius: 50%;
      transform: scale(1.5);
    }
  }
}
