.LeftComponentSideBar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 50px;
  background-color: #ecf0f1;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;

  &-CloseIcon-OpenedNav {
    margin-top: -50px;
    margin-left: 270px;
    cursor: pointer;
  }

  &-CloseIcon-ClosedNav {
    margin-top: -50px;
    margin-right: 8px;
    cursor: pointer;
    transform: rotate(180deg) !important;
  }

  &-Heading {
    margin-left: 36px;
    color: grey;
  }

  &-Text {
    color: #707070;
    font-family: sans-serif;
  }

  &-Icons-HorizontalSpacing {
    display: inline-block;
    margin-left: 36px;
  }

  &-Icons-VerticalSpacing {
    height: 25px;
  }
}
@media screen and (max-height: 450px) {
  .LeftComponentSideBar {
    padding-top: 15px;
  }
}
