.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  border-style: solid;
  border-color: #b2c1db;
  background-color: white;
  border-radius: 30px;
  width: 200px;
  padding: 10px;
  &:hover {
    width: 100%;
    transition: width 0.4s linear;
  }
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 200px;
  caret-color: transparent;
  line-height: 30px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 100%;

  caret-color: black;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #47679e;
}

.search_icon {
  height: 30px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.AddIcon {
  color: blue;
  margin-left: 140px;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  display: inline-block;
  &:hover {
    cursor: pointer;
    transform: scale(1.3);
    background-color: lightgrey;
    border-radius: 50%;
  }
  &:active {
    background-color: grey;
    color: white;
  }
}

.DeleteIcon {
  color: #ff5e5e;
  transform: scale(1.3);
  &:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 50%;
    transform: scale(1.5);
  }
}

.PassThroughGroupsIcon {
  color: blue !important;
  transform: scale(1.3);
  &:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 50%;
    transform: scale(1.5);
  }
}

.ChipScroll {
  width: 85%;
  margin-left: 5%;
  display: flex;
  justify-content: left;
  overflow-x: scroll;
  white-space: nowrap;
}

.ChipScroll::-webkit-scrollbar {
  width: 0 !important;
}
