.SearchBar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  border-style: solid;
  border-color: #b2c1db;
  background-color: white;
  border-radius: 30px;
  width: 200px;
  padding: 10px;
}

.SearchBar:hover {
  width: 100%;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.Search_Input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 200px;
  caret-color: transparent;
  line-height: 30px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.SearchBar:hover > .Search_Input {
  padding: 0 10px;
  width: 100%;
  caret-color: black;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.SearchBar:hover > .Search_Icon {
  background: white;
  color: #47679e;
}

.Search_Icon {
  height: 30px;
  width: 40px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.DeleteIcon {
  color: #ff5e5e !important;
  -webkit-transform: scale(1.3) !important;
          transform: scale(1.3) !important;
}

.DeleteIcon:hover {
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 50%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.CopyGroupIdIcon {
  color: #3b6cf1 !important;
  -webkit-transform: scale(1.3) !important;
          transform: scale(1.3) !important;
}

.CopyGroupIdIcon:hover {
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 50%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.SideBar-TotalGroups-Heading {
  width: 100%;
  margin-top: -20px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.SideBar-AllTemplates-Heading {
  font-weight: bold !important;
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
  right: 5px !important;
}

.SideBar-ListItem {
  font-weight: bold !important;
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
  right: 5px !important;
}

.SideBar-GroupList-Heading {
  font-weight: bold;
  margin-left: 12px !important;
}

.SideBar-AddIcon {
  color: blue;
  margin-left: 140px;
  height: 25px;
  width: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
}

.SideBar-AddIcon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: lightgrey;
  border-radius: 50%;
}

.SideBar-AddIcon:active {
  background-color: grey;
  color: white;
}

.CreateTemplate-Button-Wrapper {
  float: right;
  margin-bottom: 30px;
}

.CreateTemplate-Button {
  font-weight: bold !important;
}

.Card-ButtonBase {
  width: 90%;
  height: 100%;
}

.Card-Heading {
  font-weight: bold !important;
}

.Card-Divider {
  margin-left: 20% !important;
  width: 60% !important;
}

.Card-Icons-Wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Card-DeleteIcon {
  color: #ff5e5e;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.Card-DeleteIcon:hover {
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 50%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.Card-PassThroughGroupsIcon {
  color: blue !important;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.Card-PassThroughGroupsIcon:hover {
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 50%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.Card-ChipScroll {
  width: 85%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow-x: scroll;
  white-space: nowrap;
}

.Card-ChipScroll::-webkit-scrollbar {
  width: 0 !important;
}
/*# sourceMappingURL=StudioGroup.css.map */