.RightComponentSideBar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0px;
  background-color: #ecf0f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.DeleteIcon {
  color: #ff5e5e;
  transform: scale(1);
  &:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 50%;
    transform: scale(1.3);
  }
}
