@import url("https://fonts.googleapis.com/css2?family=Source + Sans + Pro:wght@200;300;400;600;700;900&display=swap");

:root {
  --home-contentbox-background-color: white;
  --home-contentbox-color: black;

  --login-leftbar-background-color: #3498db;
  --login-card-background-color: white;
  --login-rightbar-background-color: white;
  --login-leftbar-text-color: white;

  --register-leftbar-background-color: #3498db;
  --register-rightbar-background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

.Home {
  &-ContentBox {
    background-color: var(--home-contentbox-background-color);
    color: var(--home-contentbox-color);
  }
}

.Login {
  &-LeftBar {
    background-color: var(--login-leftbar-background-color);
    background-size: cover;
    background-position: center;
  }

  &-LeftBar-ContentBox {
    background-color: var(--login-leftbar-background-color);
    color: var(--login-leftbar-text-color);
  }

  &-RightBar {
    background-color: var(--login-rightbar-background-color);
    min-height: 100vh;
  }
  &-Card {
    min-width: 450px;
    background-color: var(--login-card-background-color);
  }
}

.Register {
  &-LeftBar {
    background-color: var(--register-leftbar-background-color);
    background-size: cover;
    background-position: center;
  }

  &-LeftBar-ContentBox {
    background-color: var(--register-leftbar-background-color);
    padding-left: 30px;
  }

  &-RightBar {
    background-color: var(--register-rightbar-background-color);
  }
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.fade {
  &-appear {
    opacity: 0;
    z-index: 1;
    &-active {
      opacity: 1;
      transition: opacity 1500ms linear;
    }
  }

  &-enter {
    opacity: 0;
    z-index: 1;
    &-active {
      opacity: 1;
      transition: opacity 400ms linear 4000ms;
    }
  }

  &-exit {
    opacity: 1;
    &-active {
      opacity: 0;
      transition: opacity 0ms linear;
    }

    &-done {
      opacity: 0;
    }
  }
}

.fade-droppable-area {
  &-appear {
    opacity: 0;
    z-index: 1;
    &-active {
      opacity: 1;
      transition: opacity 500ms linear;
    }
  }

  &-enter {
    opacity: 0;
    z-index: 1;
    &-active {
      opacity: 1;
      transition: opacity 1500ms linear 1500ms;
    }
  }

  &-exit {
    opacity: 1;
    &-active {
      opacity: 0;
      transition: opacity 500ms linear;
    }

    &-done {
      opacity: 0;
    }
  }
}
